.user

  .header
    padding-left 0.5 rem
    padding-right 0.5 rem
    padding-top 0.5 rem
    float left
    background-color #eca545
    clear: both
    width: 100%
    height: 6 rem


    .head_portrait
      vertical-align:middle
      display: flex;

    div
      float left
      vertical-align: middle
      display:inline-block
    //.info
    //  vertical-align:middle
    //  display: flex;
    //  color #ffffff
    //  float left
    //  line-height 40px
    //  margin-left: 0.5rem
      //width 6rem
      .name
        font-size 0.9 rem
        margin-right 0.2 rem
      .vip
        font-size 0.7 rem
      .phone
        font-size 0.8 rem
